doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Password Reset
    include _style
  body
    .email-container
      // Logo Section
      .email-header
        img(src="https://coach-x.vercel.app/coachX.png", alt="Company Logo")
      // Body
      .email-body
        h2 Reset Your Password
        p
          | Hi #{firstName}, We received a request to reset your password. Click the
          | button below to set a new one. This link is valid for  
          strong 10 minutes
          | .
        a.verify-btn(href=`${url}`) Reset Password
        p(style="margin-top: 25px; font-size: 13px; color: #888")
          | If you didn’t request this, please ignore this email. Your password
          | will remain unchanged.
      // Footer
      .email-footer
        | &amp;copy; 2025 CoachX. All rights reserved.
