doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Email Verification
    include _style
  body
    .email-container
      // Logo Section
      .email-header
        img(src= "https://coach-x.vercel.app/coachX.png" alt="Coach X")
      // Body
      .email-body
        h2 Verify Your Email Address
        p
          | Hi #{firstName}, Welcome to CoachX, we're glad to have you 🎉🙏
        p
          | To complete your registration, please verify your email by clicking the button below.
          | .
        a.verify-btn(href=`${url}`) Verify Email
        p(style="margin-top: 25px; font-size: 13px; color: #888")
          | If you experience any issues with the button above, copy and paste the URL below into your web browser.
        p(style="margin-top: 25px; font-size: 13px; color: #888")
          | #{url}
      // Footer
      .email-footer
        | &amp;copy; 2025 CoachX. All rights reserved.